body {
    background-image: url("https://wallpaperaccess.com/full/273320.jpg");
}

h1 {
    align-content: center;
    text-align: center;
    font-weight: 600;
    background: #B8860B;
    
}

p {
    text-align: justify;
}

img {
  width: 100%;
  height: auto;
}

a {
  color: red;
  font-family: helvetica;
  text-decoration: none;
}
a:link {
    color:black;
}
a:visited {
    color: black;
}
a:hover {
    color: black;
}


.my_nav {
    align-content: center;
    background: yellow;
}

button {
    
}

.nav_button {
    border-radius: 10px;
    background: #006400;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.main-articles {
    background: #E0F8EF;
}




.footer{
  background: #152F4F;
  color:white;
  
  .links{
    ul {list-style-type: none;}
    li {
      color: white;
      transition: color .2s;
      &:hover{
        text-decoration:none;
        color:#4180CB;
        }
    }
  }  

.footer-about{
    {font-size: 25px;}
    {
      color:white;
      transition: color .2s;
      &:hover{color:#4180CB}
    }
  } 
.contact-info{
    {font-size: 18px;}
  }
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
}
